# Database Configuration
MONGO_DB_URI=your_mongodb_connection_string

# Authentication Secrets
SESSION_SECRET=your_session_secret
COOKIE_SECRET=your_cookie_secret

# Application Settings
APP_URL=https://your-netlify-app-name.netlify.app
NODE_ENV=production

# Email Configuration
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=your_email_username
EMAIL_PASS=your_email_password
EMAIL_FROM="HeroPedia <noreply@example.com>"
